.item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // width: 100%;
}

.ico {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text {
    // max-width: 270px;
}

.contactName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.lastMessage {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.time {
    font-size: 12px;
    font-weight: bold;
}